### RoboRio Installers
robotpy-installer==2025.0.0b3

### RobotPy
robotpy==2025.0.0b3
robotpy[commands2]
#robotpy[pathplannerlib]
#robotpy[phoenix6]
#robotpy[rev]

phoenix6==25.0.0b4
robotpy-pathplannerlib==2025.0.0b6
robotpy-rev==2025.0.0b4

#limelightlib-python==0.9.6